/*yahoo reset http://developer.yahoo.com/yui/reset/*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/*end reset*/
* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  width: 600px;
  margin: 0 auto;
  font-family: "helvetica neue",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0 0 40px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 24px 0 6px;
  /*color: #5DADDD;*/
  color: #66CA66;
}

.feedback {
  color: #888;
  float: right;
}

.timer, .score, .sep {
  color: #000;
  display: inline-block;
  font-size: 2em;
}

.stately, .wrapper {
  width: 600px;
}

.wrapper {
  background: transparent;
  height: 3em;
  left: 50%;
  margin: 0 auto;
  /*position: absolute;*/
  top: 1em;
  width: 600px;
  z-index: 2;
}

.wrapper input {
  color: #444;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  width: 100%;
  border: 1px solid #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 5px 5px -5px #ddd;
  -webkit-box-shadow: 0 5px 5px -5px #ddd;
  box-shadow: 0 5px 5px -5px #ddd;
}

.meta {
  padding: 0.5em 0 0 0;
}
